* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
 /* background-image: url('brick2.jpg'); */
  position: relative;
  color: #201f1f;
    font-family: 'PT Serif', serif, sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
/* font */

.carousel-fonts{
  font-family:'Great Vibes', cursive;
}
.carousel-item{
  height: 500px;
}

.carousel-item img{
    height: 500px;
}

/* layer */
.box-1{
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 500px;
  background-color: black;
  opacity: 0.5;
}

.carousel-item img{
  position: relative;
  z-index: 0;
}

/* navbar */




.mynav a{
  margin-right: 20px;
  border-bottom: 2px solid transparent;
}

.mynav a:hover{
border-bottom: 2px solid #fff;
}


/* animation */
:root {
  --animate-duration: 1000ms;
  --animate-delay: 1s;
}
/* icons */
.fa-facebook:hover {
  color:#4267B2;
 }
 .fa-facebook-f:hover {
   color:#4267B2;
  }

.fa-instagram:hover{
  color: #3f729b;
}


.fa-linkedin:hover{
  color: #0e76a8;
}

.fa-linkedin-in:hover{
  color: #0e76a8;
}

.fa-twitter:hover{
  color:#00acee;
}
.fa-google-plus-g:hover{
  color: red;
}
/* detailzoom */
/* hover effect */

.card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.curtain{
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
padding: 14px 80px 18px 36px;
cursor: pointer;
}
.curtain:hover{
transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

@media(max-width: 990px){
  .card{
    margin: 20px;
  }
}
